# yaml-language-server: $schema=https://json.schemastore.org/clangd.json
CompileFlags:
  CompilationDatabase: build/
  Add:
    - "-std=c++23"
    - "-I./include"
    - "-I./tests"
    - "-I./third-party"
Diagnostics:
  MissingIncludes: Strict
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - "*"
    Remove:
      - "modernize-use-trailing-return-type"
      - "readability-identifier-length"
Index:
  Background: true
  StandardLibrary: true