name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: ${{ matrix.platform.name }} Release
    runs-on: ${{ matrix.platform.os }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - { name: Linux,   os: ubuntu-latest, cxx: clang++ }
          - { name: Windows, os: windows-latest, cxx: clang++ }
    env:
      PIXELLIB_TEST_MODE: "1"
      CXX: ${{ matrix.platform.cxx }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y clang make

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew update
        
      - name: Build & test
        run: make run-tests